h2#utc-time-zone-clock {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.utc-clock-widget {
  font-size: 40px;
  font-weight: bold;
}

.est-clock-widget {
  font-size: 40px;
  font-weight: bold;
}

h2#est-time-zone-clock {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
